
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Form</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="contact-us.component.css">

</head>

<body>
  <h1>Swiggy | Contact Us</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 " id="form_container">
        <h2>Write To Us</h2>
        <p> Please send your message below. We will get back to you at the earliest! </p>
        <form role="form" method="post" id="reused_form" (ngSubmit)="sendFeedback()">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="message"> Message:</label>
              <textarea class="form-control" type="textarea" id="message" name="message" maxlength="6000"
                rows="7" [(ngModel)]="modelMessage.message"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="name"> Your Name:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="col-sm-6 form-group">
              <label for="email"> Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
          </div>
          <button routerLink="/home" (click)="clearLocal()" class="button">Logout</button>
          <button routerLink="/menu" id="btn" class="button">Menu</button>
          <button type="submit" id="btn" class="button">Send</button>
          
      </form>
    </div>
  </div>
  </div>
</body>

</html>