
<link rel="stylesheet" href="welcome.component.css">
<body>
  <div class="main">
    <div class="logo">
        <img id="logo" src="../../assets/images/logo.svg">
    </div>
</div>
<div class="body">
  <br><br><br>
  <h1 align="center">SWIGGY | HOME</h1>
  <br><br>

<div class="card align-contents" align="center">
  <img class="card-img-top" style="padding: 0 5px; float: left;" src="../../assets/images/user.jpg" alt="Card image cap">
    <font style="float: left; font-size: x-large;">Welcome, {{modelUser.firstname}}<br> Account Type : User</font>
  <div class="table-responsive panel">
    <table class="table">
      
      <tbody>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-user"></i> First Name</td>
        <td>{{modelUser.firstname}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-user-circle"></i> Last Name</td>
        <td>{{modelUser.lastname}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-mobile"></i> Mobile Number</td>
        <td>{{modelUser.phone}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-envelope"></i> E-Mail ID</td>
        <td>{{modelUser.email}}</td>
      </tr>
        
      
      </tbody>
    </table>
    <button type="submit" class="button" routerLink="/home" (click)="clearLocal()">Logout</button>
    <button type="submit" id="btn" class="button" routerLink="/menu">Menu</button>
  </div>
</div>
</div>
</body>
